In [4]:
import pandas as pd
import numpy as np

In [ ]:
pd.concat

In [12]:
participants = pd.read_csv('participants.csv')

trials = pd.DataFrame()
for participant_id in participants['id']:
    participant_data = pd.read_csv(f'participants/{participant_id}.csv')
    #trials = trials.append(participant_data)
    trials = pd.concat([trials, participant_data])

trials

     Unnamed: 0     id    condition          RT
0             0  30917     baseline  251.446466
1             1  30917  condition_b  218.117894
2             2  30917  condition_a  483.430683
3             3  30917     baseline  224.964481
4             4  30917  condition_b  178.696516
..          ...    ...          ...         ...
115         115  29185  condition_b  331.582984
116         116  29185  condition_a  323.626076
117         117  29185  condition_a  958.439887
118         118  29185  condition_a  684.929235
119         119  29185     baseline  420.869665

[1200 rows x 4 columns]

In [6]:
trials.rename(columns={'Unnamed: 0': 'trial_order'}, inplace=True)
trials.to_csv('trials.csv', index=False)